.slideName{
  padding: 5px;
  font-size: 1em;
  font-family: 'Oswald',sans-serif;
  border: none;
  border-radius: 5px;
  background: #aaa;
  color: white;
  margin-bottom: 10px;
  min-width: 175px;
}
.slideName:focus{
  outline: none;
}
.form-container{
  width: 100%;
  display: none;
  text-align: center;
}
.input-wrap{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 1em;
  font-family: 'Oswald',sans-serif;
  text-align: center;
}
.input-wrap div{
  font-size: 2em;
}
.slideUpload-input{
  display: none;
}
.uploadBtn{
  border: none;
  border-radius: 5px;
  font-family: 'Oswald',sans-serif;
  font-size: 1.2em;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: filter 0.43s;
}
button[class="uploadBtn"]:hover{
  filter: brightness(70%);
}
.images-Submit{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-family: 'Oswald',sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: filter 0.43s;
  background: #aaa;
  margin-left: auto;
  margin-right: auto;
}
button[class="images-Submit"]:hover{
  filter: brightness(60%);
}
