@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("./nav.css");
body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
.section-container{
  width: 100%;
  height: 500px;
}
.section-container::before {
  content: "";
  position: absolute;
  top: 67px; left: 0;
  width: calc(100% - 10px); height: 490px;
  padding: 5px;
}
.for-welcome::before{
  filter: brightness(40%);
  background-image: url("../../imgForDecoration/mountains-min.jpg");
  background-size: cover;
}
.describing-page::before{
  top: 567px;
  background-image: url("../../imgForDecoration/mountains2-min.jpg");
  background-size: cover;
  filter: brightness(30%);
}
.main-header,.describe-content{
  color: white;
  font-size: 3em;
  font-family: 'Oswald',sans-serif;
  filter: brightness(200%);
  margin: 10px;
  margin-left: 50px;
  margin-top: 67px;
  margin-bottom: 40px;
}
.popular-header{
  float: right;
}
.describe-content{
  font-size: 2em;
  margin: 7px;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media screen and (max-width: 1305px){
  .main-header{
    font-size: 2.3em;
  }
}
@media screen and (max-width: 1004px){
  .main-header{
    margin-left: 0px;
    float: none;
    width: calc(100% - 25px);
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  .for-welcome::before{
    box-shadow: 3px 1px 10px #111; 
    z-index: 2;
  }
  .popular-header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
}

@media screen and (max-width: 875px){
  .describe-content{
    width: calc(100% - 14px);
    text-align: justify;
    padding-top: 8px;
  }
}

@media screen and (max-width: 670px){
  .describe-content{
    font-size: 1.6em;
  }
}

@media screen and (min-width: 657px) and (max-width: 662px){
  .popular-header{
    width: calc(100% - 31px);
  }
}

@media screen and (max-width: 537px){
  .section-container{
    height: 400px;
  }
  .main-header{
    font-size: 1.87em;
  }
  .section-container::before{
    height: 400px;
  }
  .describing-page::before{
    top: 477px;
  }
  .describe-content{
    font-size: 1.4em;
    margin-top: 10px;
  }
}
@media screen and (max-width: 437px){
  .main-header{
    font-size: 1.5em;
  }
  .describe-content{
    position: relative;
    top: 27px;
  }
}
@media screen and (max-width: 353px){
  .main-header{
    font-size: 1.3em;
  }
  .popular-header{
    margin-top: 130px;
  }
  .section-container{
    height: 300px;
  }
  .section-container::before{
    height: 300px;
  }
  .describing-page::before{
    top: 377px;
  }
  .describe-content{
    position: relative;
    top: 0px;
    text-align: center;
  }
}