a{
  text-decoration: none;
}
.main-navbar{
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0px; left: 0px;
  background: #111;
  color: white;
  font-family: 'Lato',sans-serif;
  z-index: 2;
}
.nav-item{
  height: 67px;
  margin-left: 10px;
  display: inline-block;
}
.main-navbar button
{
  background: rgba(1,1,1,0);
  border: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  transition: filter 0.43s;
  vertical-align: middle;
  text-decoration: none;
}
.main-navbar button:focus{
  outline: none;
}
.main-navbar button:hover{
  filter: brightness(190%);
}
.main-navbar form,.signing-in,.signing-up,.create-dropDown{
  float: right;
  margin-right: 10px;
  display: inline-block;
}
.mainSite-img{
  width: 67px;
  height: auto;
}
.albums{
  display: inline-block;
}
.albumName-input{
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  font-size: 20px;
  font-family: 'Lato',sans-serif;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.main-navbar form{
  margin-right: 40px;
}
.create-dropDown{
  height: 67px;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
  line-height: 67px;
  width: 30px;
  text-align: center;
  display: inline-block;
}
.prof-dropItem{
  position: absolute;
  top: 67px;
  left: calc(90% - 60px);
  z-index: 3;
  display: none;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Oswald',sans-serif;
  transition: all 0.3s;
  height: 50px;
}
.stats{
  top: 117px;
}
.settings{
  top: 167px;
}
.create-dropDown button{
  background: #eee;
  font-size: 0.7em;
  color: black;
  width: 10%;
  font-family: 'Oswald',sans-serif;
  transition: all 0.3s;
}
.create-dropDown button:hover{
  filter: brightness(70%);
}
div[class="nav-item create-dropDown"]:hover .prof-dropItem{
  display: block;
}
.responsiveMode-open{
  display: none;
}
.forResponsiveMode{
  display: inline-block;
}
@media screen and (min-width: 983px){
  .albums,.signing-in,.signing-up{
    display: inline-block;
  }
  .signing-in,.signing-up,.create-dropDown{
    float: right;
    margin-right: 10px;
    display: inline-block;
  }
}
@media screen and (max-width: 982px){
  .responsiveMode-open{
    display: inline-block;
    line-height: 13px;
    font-size: 9em;
    float: right;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: calc(100% - 57px);
  }
  .albums,.signing-in,.signing-up,.create-dropDown{
    display: none;
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  .main-navbar form{
    position: fixed;
    top: 0px;
    left: 300px;
  }
  .main-navbar button{
    background: #111;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px){
  .main-navbar form{
    left: 200px;
  }
}
@media screen and (max-width: 635px){
  .main-navbar form{
    left: 150px;
  } 
  .main-navbar form > .albumName-input{
    width: 160px;
  } 
}
@media screen and (max-width: 499px){
  .main-navbar form {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0px;
  }
}